.head-1{
    height: 100px;
    width: 1423px;
    margin: auto;
    padding-top: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    .hea-1{
        width: 1000px;
        margin: auto;
        border-left: 5px solid red;
        overflow: hidden;
        
    }
}
.hea-1>div{
    float: left;
    margin-right: 120px;
    p{
        font-size: 12px;
    }
    div{
        width: 37px;
        margin: auto;
    }
}
.conter-a{
    width: 1423px;
    margin: auto;
    overflow: hidden;
    .con-a{
        width: 1000px;
        margin: auto;
        .con-left{
            width: 700px;
            float: left;
            padding-top: 40px;
            .cont-b{
                padding: 5px;
                border-left: 5px solid red;
                margin-bottom: 20px;
            }
            p{
                margin: 25px 0;
            }
            .h-red{
                margin: 25px 0;
                color: red;
                
            }

        }
        .con-right{
            width: 270px;
            float: right;
        }
    }
}