<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/kuangjia.css">
    <link rel="stylesheet" href="../css/kuwan-cat.css">

    <script src="../js/template-web.js"></script>
    <script src="../js/kuwan-cat.js"></script>

</head>

<body>

    <header>
        <img src="../img/logonew.png" class="logonew" alt="">
        <ul class="biaoti">
            <li ><a href="../zhuye.html" >首页</a></li>
            <li><a href="./kuwan-new.html" style="color: red;">酷玩</a></li>
            <li><a href="../guid/guid-new.html">导购</a></li>

            <li><a href="../use/try-all.html">试用</a></li>
            <li><a href="../zuixing.html">报告</a></li>
        </ul>
        <div class="register"><a href="../zhuce.html">注册</a></div>

        <img src="../img/search.png" alt="" class="search">
    </header>
    <hr>
    <div class="marg">
        <div class="content-head">发现酷玩</div>
        <div class="con-head">
            <div>
                <div><a href="./kuwan-new.html">最新</a></div>
                <div><a href="./kuwan-hot.html">最热</a></div>
                <div class="bot-red"><a href="./kuwan-cat.html">品类</a></div>
            </div>
        </div>

        <div class="cont-a">
            <div class="cont-a1">
                <div class="con-a2">
                    <div class="cont-ha">生活</div>
                </div>
                <div id="list" class="cont-aa"></div>
                <div class="con-a2">
                    <div class="cont-ha">个人护理</div>
                </div>
                <div id="list1" class="cont-aa"></div>
                <div class="con-a2">
                    <div class="cont-ha">运动户外</div>
                </div>
                <div id="list2" class="cont-aa"></div>

                <div class="con-a2">
                    <div class="cont-ha">智能穿戴</div>
                </div>
                <div id="list3" class="cont-aa"></div>

                <div class="con-a2">
                    <div class="cont-ha">健康</div>
                </div>
                <div id="list4" class="cont-aa"></div>

                <div class="con-a2">
                    <div class="cont-ha">手机</div>
                </div>
                <div id="list5" class="cont-aa"></div>
            </div>
        </div>
    </div>





    <script type="text/html" id="mb">
        <div class="c-haa">
            {{each value}}
            {{if $value.icon}}
                <div class="live">
                    <div><img src={{$value.icon}} alt=""></div>
                    <p>{{$value.productName}}({{$value.nums}})</p>
                </div>
            {{/if}}
            {{/each}}

        </div>
        <div class="c-haa c-hab" >
            {{each value}}
            {{if $value.icon}}
            {{else}}
                <div class="live">
                    <p>{{$value.productName}}({{$value.nums}})</p>
                </div>
            {{/if}}
            {{/each}}
        </div>
        
    </script>






    <!-- 尾部 -->
    <div class="foot">
        <div class="foot-1">
            <dl>
                <dt>
                    <div class="code"></div>
                </dt>
            </dl>
            <dl>
                <dt>
                    <div class="log"></div>
                </dt>
                <dd>全球酷玩试用导购平台酷·新奇·好玩·品质</dd>
                <dd>微信添加"JguoJguo"获取我们的服务。</dd>
            </dl>
            <dl>
                <dt><a href="../shiyong.html">免费试用</a></dt>

                <dd><a href="../use/tyy-deta.html">试用流程</a></dd>

                <dd>如何提高成功率</dd>
            </dl>
            <dl>
                <dt>友情链接</dt>
                <dd><a href="">智东西</a></dd>
                <dd><a href="">WEIBUSI</a></dd>
                <dd><a href="">搜狐IT</a></dd>
                <dd><a href="">腾讯科技</a></dd>
                <dd><a href="">搜狐数码 </a></dd>
                <dd><a href="">凤凰科技</a></dd>
                <dd><a href="">凤凰数码</a></dd>
                <dd><a href="">PConline</a></dd>
                <dd><a href="">泡泡网</a></dd>
                <dd><a href="">3W咖啡</a></dd>
                <dd><a href="">ZUK社区</a></dd>
                <dd><a href="">亿觅emie</a></dd>
                <dd><a href="">极客公园</a></dd>
                <dd><a href="">易迅易启玩</a></dd>
                <dd><a href="">果库</a></dd>
            </dl>
            <dl>
                <dt>购买攻略</dt>
                <dd>美亚海淘教程</dd>
                <dd>日亚海淘教程</dd>
                <dd>海淘转运攻略</dd>
                <dd>kickstarter 众筹购买攻略</dd>
                <dd>indiegogo 众筹购买攻略</dd>
            </dl>
            <dl>
                <dt>厂商合作</dt>
                <dd>关于极果</dd>
                <dd>联系我们</dd>
                <dd>商务合作：BD@jiguo.com</dd>
                <dd>CEO邮箱：CEO@jiguo.com</dd>
            </dl>
        </div>
        <div class="foot-foot">&copy; 2016 极果版权所有</div>
    </div>
</body>

</html>